body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff9800;
}

h2 {
    color: #333;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    width: 220px;
    display: inline-block;
    margin: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
    background-color: #ff9800;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e68900;
}
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #ff9800;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #e68900;
}
